
@{
    ViewData["Title"] = "Game";
}

<div class="row">
    <div class="text-center">
        <div class="jumbotron">
            <h1>Lights Out</h1><br />
            <div id="game">
                <canvas id="gc" width="506" height="506"></canvas>
            </div>
            <br /><br />@using (Html.BeginForm("Index", "Home"))
            {
                <button id="button" class="btn btn-default">Give Up</button>
            }
        </div>
    </div>
</div>

<script src="~/js/Game.js" asp-append-version="true"></script>