@{
    ViewData["Title"] = "Lights Out";
}

<div class="row">
    <div class="text-center">
        <div class="jumbotron">
            <h1>Lights Out</h1>
            <p>
                <b>Welcome</b>
                <br />At the beginning of the game, between 1 and 3 lights are switched on.
                <br />When a light is pressed, this light and the four adjacent lights are toggled, meaning lights that were on are toggled off and lights that are off are toggled on.
                <br />
                <br />The purpose of the game is to switch all the lights off.
                <br />Click the Start button to begin the game.
            </p>
            <br />@using (Html.BeginForm("Game", "Home"))
            {
                <button id="button" class="btn btn-default">Start!</button>
            }
        </div>

    </div>
</div>